@font-face {
  font-family: 'proxima_nova_extrabold';
  src: url('font/Mark Simonson - Proxima Nova Extrabold.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_semibold';
  src: url('font/Mark Simonson - Proxima Nova Semibold.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_bold';
  src: url('font/Mark Simonson - Proxima Nova Bold.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_light';
  src: url('font/Mark Simonson - Proxima Nova Light.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_condensed_regular';
  src: url('font/Mark Simonson - Proxima Nova Condensed Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_thin';
  src: url('font/Mark Simonson - Proxima Nova Thin.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_regular';
  src: url('font/Mark Simonson - Proxima Nova Regular.otf');
  font-weight: normal;
  font-style: normal;
}
.backgound_page{
  background-color: #f2f2f2;
  color: #696969;
  font-size: 14px;
  font-family: "proxima_nova_thin";
  position: relative;
}
.container_css {
  width: 980px;
  margin: 0px auto;
  padding: 0px;
}
a{
  text-decoration: none;
}
a:hover, a:active{
  text-decoration: none;
}
#content_page_1 .container_css{
  text-align: center;
}
.title_h1{
  font-family: 'proxima_nova_extrabold';
  font-size: 48px;
  color: #4b4b4b;
  margin-bottom: 15px;
  letter-spacing: 3px;
  word-spacing: 2px;
}
.title_h3{
  font-family: 'proxima_nova_bold';
  font-size: 24px;
  color: #ebb210;
  margin-bottom: 0px;
  letter-spacing: 19px;
  word-spacing: 7px;
  padding-left: 14px;
}
.title_header{
  margin-bottom: 10px;
}
#content_page_1 .title_header{
  margin-top: 110px;
}
.food {
  display: block;
}
.food span{
  display: inline-block;
  vertical-align: middle;
}
#arrow_l{
  margin-right: 128px;
}
#arrow_r{
  margin-left: 128px;
}
.button_css{
  font-family: 'proxima_nova_light';
  font-size: 14px;
}
.button_css input{
  height: 40px;
  color: #fff;
  border:none;
  border-radius: 4px;
  padding: 0px;
  letter-spacing: 2px;
  word-spacing: 1px;
  width: 135px;
  font-family: "proxima_nova_light";
  font-size: 14px;
}
#content_page_1 .button_css{
  margin-bottom: 275px;
}
.button_yellow{
  background-color: #ebb210;
}
.button_green {
  background-color: #a6ce39;
}
#content_page_1 .button_yellow {
margin-right: 6px;
}
.footer_css{
  position: absolute;
  right:0px;
  bottom:0px;
}
/*--------------------------------LOGIN--------------------------------------*/
.form_page{
  background-color: #ecbd36;
  padding-top: 337px;
  padding-bottom: 400px;
}
/* padding- change*/
.form_content{
  width: 429px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 3px;
  box-shadow:0.1px 0.1px 6px;
  padding-right:  27px;
  padding-left: 27px;
  padding-bottom: 20px;
  font-family: 'proxima_nova_thin';
  font-size: 14px;
  color: #6f6f6f;
}
.title_popup span{
  display: imput-block;
  vertical-align: middle;

}
.title_popup{
  position: relative;
  margin-bottom: 10px;
}
.title_popup h2{
  font-family: 'proxima_nova_condensed_regular';
  font-size: 30px;
  color: #4b4b4b;
  padding-top: 13px;
}
.close{
  position: absolute;
  top: 8px;
  left: 375px;
}
.input_css{
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  height: 43px;
  margin-bottom: 5px;
}
.input_css span{
  display: inline-block;
  vertical-align: middle;
}
.input_css input{
  border: none;
  height: 40px;
  width: 326px;
  margin-top: -3px;
  margin-left: -4px;
  border-radius: 4px;
  padding-left: 10px;
}
::-webkit-input-placeholder {
  padding-left: 3px;
}
.backgound_input{
  background-color:#ededed;
}
.checkbox_css span{
  display: inline-block;
}
.checkbox_css p{
  margin: 0px;
}
.checkbox_margin{
  margin-top: -4px;
  margin-right: 6px;
}
.inline_css{
  display: inline-block;
  vertical-align: middle;
}
#content_page_2 .footer_popup{
  margin-top: 18px;
}
.footer_popup a{
  color: #6f6f6f;
}
#content_page_2 .button_css{
  margin-left: 113px;
}
.forget{
  margin-left: 22px;
}
/*----------------------------FORGOT PASSWORD---------------------------------*/
#content_page_3 .footer_popup{
  margin-top: 8px;
}
#content_page_3 .button_css{
  margin-left: 155px;
}
/*----------------------------FORGOT PASSWORD---------------------------------*/
#content_page_4 .footer_popup{
  margin-top: 26px;
}
#content_page_4 .button_css{
  margin-left: 202px;
}
/*..................................................................VIEW SUGGEST.............................................................*/
.header_page{
  position: relative;
  padding-top: 43px;
}
.logo_dsv{
  position: absolute;
  top:0px;
}
.header div{
  display: inline-block;
}
.form_welcome{
  position: absolute;
  right:0px;
  top: 6px;
  padding: 4px 9px 2px;
  font-family: "proxima_nova_light";
}
.form_welcome span{
  display: inline-block;
  vertical-align: middle;
}
.form_welcome{
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  background-color: #fff;
  color:#acacac;
}
.word_yellow{
  color: #ebb210;
  font-family: "proxima_nova_bold";
}
.big_header .title_header{
  margin-left: 223px;
}
.big_header .title_header {
  margin-bottom: 8px;
}
.big_header .title_h1{
  font-size: 25.37px;
  margin-bottom: 5px;
}
.big_header .title_h3{
  font-size: 12.68px;
  letter-spacing: 9px;
  word-spacing: 16px;
  padding-left: 1px;
}
.menu_header{
  background-color: #dfdfde;
  padding: 17px 223px;
  font-family: "proxima_nova_light";
}
.unstyed_inline{
  list-style: none;
}
.unstyed_inline li{
  display: inline-block;
  margin-right: 33px;
}
.unstyed_inline a{
  color: #3a3a3a;
  font-size: 16px;
}
.unstyed_inline a:hover,a:active{
  text-decoration: none;
  color: #9a9a9a;
}
.name_page{
  font-size: 42px;
  font-family: "proxima_nova_light";
  text-align: left;
  padding: 20px 223px 10px;
  border-bottom: 1px solid #d8d8d8;
  color: #acacac;
}
.name_page p{
  display: inline-block;
}
.border_container{
  border: 9px solid #e8e8e8;
  border-radius: 5px;
  margin-top: 25px;
  padding: 15px 15px 18px;
  background-color: #fff;
}
.border_table{
  border: #e4e3e1;
  padding-right: 23px;
}
.tr_yellow{
  font-size: 18px;
  background-color: #ffd45b;
  color: #464646;
  font-family: "proxima_nova_regular";
  text-align: center;
  width: 177px;
}
.tr_yellow th {
  text-align: center;
  padding: 0px;
}
.table-bordered .tr_yellow th{
  border-bottom-width: 0px;
}
.text_center{
  text-align: center;
}
.tr_yellow .padding_th_1{
  padding-left: 17px;

}
.tr_yellow .padding_th_2{
  padding-left: 75px;

}
.row_css p{
  display: inline-block;
}
.row_css input{
  width: 42px;
  height: 36px;
  border-radius: 5px;
  border: 1px solid #e3e3e3;
  background-color: #ededed;
  margin: 0px 3px;
}
#content_page_5 .col_width_1{
  width: 178px;
}
#content_page_5 .col_width_2{
  width: 250px;
}
#content_page_5 .col_width_3{
  width: 202px;
}
#content_page_5 .col_width_4{
  width: 279px;
}
.row_css{
  margin-top: -2px;
  margin-right: -40px;
}
.footer_content_left {
  padding-right: 0px;
}
.footer_content_left p{
  font-family: "proxima_nova_regular";
  letter-spacing: 1px;
  word-spacing: 1px;
}
.footer_content_right ul li a{
  width:25px;
  height: 25px;
  border: 0px;
  border-radius: 0px;
  color: #4f4f4f;
  padding: 3px 9px;
  font-family: "proxima_nova_regular";
}
.footer_content_right li{
  width: 25px;
  height: 25px;
}
.footer_content_right ul li a:hover, a:active{
  background-color: #ebb210;
  color: #fff;
}
.footer_content_right ul li:first-child a:hover,
.footer_content_right ul li:first-child a:active{
  background-color: #fff;
}
.footer_content_right ul li:first-child a,
.footer_content_right ul li:first-child a:hover,
.footer_content_right ul li:first-child a:active{
  background-color: #fff;
  padding-left: 0px;

}
.footer_content_right ul li:last-child a,
.footer_content_right ul li:last-child a:hover,
.footer_content_right ul li:last-child a:active{
  background-color: #fff;
  padding-left: 14px;
}
.content_number{
  margin: 0px;
}
#content_page_5 .border_container{
  margin-bottom: 382px;
}
#content_page_5{
  padding-bottom: 1px;
}
/*.......................................................MEAL HISTORY.......................................................*/
.form_header{
  text-align: center;
  border-bottom: 5px solid #dfdfde;
  background-color: #fefefe;
  padding: 17px 0px;
}
.form_header .button_css input{
  width: 105px;
  margin-left: -33px;
}
.form_header span{
  font-family: proxima_nova_regular;
  font-size: 18px;
  margin-right: 5px;
}
.form_header div{
  margin-right: 40px;
}
.form_header .form-control{
  height: 42px;
  width: 225px;
  border-color: #e2e2e2;
}
#content_page_6 .col_width_1{
  width: 173px;
}
#content_page_6 .col_width_2{
  width: 76px;
}
#content_page_6 .col_width_3{
  width: 270px;
}
#content_page_6 .col_width_4{
  width: 390px;
}
#content_page_6 .border_container{
  margin-bottom: 295px;
}
#content_page_6{
  padding-bottom: 1px;
}
/*........................................................DEPOSIT.....................................*/
#content_page_7 .col_width_1{
  width: 173px;
}
#content_page_7 .col_width_2{
  width: 132px;
}
#content_page_7 .col_width_3{
  width: 604px;
}
#content_page_7 #col_tleft .text_left{
  text-align:  left;
  padding-left: 20px;
}
#content_page_7 .border_container{
  margin-bottom: 295px;
}
#content_page_7{
  padding-bottom: 1px;
}
/*........................................................MENU SHOW.......................................................*/

#content_page_8 .col_width_1{
  width: 173px;
}
#content_page_8 .col_width_2{
  width: 340px;
}

#content_page_8 .border_table span{
  padding: 2px 5px;
  margin-right: 2px;
  border-radius: 3px;
  background-color: #b0b0b0;
  font-size: 16px;
  color: #fff;
}
#content_page_8 .border_table span:hover{
  background-color: #ebb210;
}
#content_page_8 #col_tleft .text_left{
 padding-left: 22px;
}
#content_page_8 .row_css{
  margin-bottom: 20px;
}
#content_page_8 .button_yellow{
  width: 140px;
}
#content_page_8 .border_container{
  margin-bottom: 230px;
}
#content_page_8{
  padding-bottom: 1px;
}
/*........................................................REGISTER MENU.......................................................*/
.dashboard_register .col_width_1{
  width: 173px;
}
.dashboard_register .col_width_2{
  width: 70px;
}
#content_page_9 .col_width_3{
  width: 183px;
}
.dashboard_register .col_width_3 input{
  font-size: 14px;
}
.dashboard_register thead p{
  display: inline-block;
  vertical-align: middle;
}
.dashboard_register table input{
  margin: 0px;
}
#content_page_9 .text_left{
  padding-left: 60px;
  text-align: left;
}
#content_page_9 .text_left:last-child{
  padding-left: 167px;
}
.dashboard_register tbody select{
  width: 165px;
  height: 33px;
  border-color:#e2e2e2 ;
  background-color: #ededed;
}
.dashboard_register .row_css{
  margin-bottom: 10px;
}
.dashboard_register .button_notice .button_yellow{
  width: 71px;
}
.notice p:first-child{
  font-family: "proxima_nova_semibold" ;
}
.notice p:last-child{
  margin-left: 467px;
}
.notice p{
  display: inline-block;
  vertical-align: middle;
}
.notice{
  background-color: #e6e6e6;
  margin-left: 5px;
  padding:9px 7px 10px 12px;
  width: 829px;
  color: #373737;
}
.button_notice div{
  display: inline-block;
}
#content_page_9 .border_container{
  margin-bottom: 180px;
}
#content_page_9{
  padding-bottom: 1px;
}
/*........................................................DASHBOARD.......................................................*/
#content_page_10 .col_width_3{
  width: 285px;
}
#balance_time{
  margin-top: 28px;
}
#balance_time div{
  background-color: #444444;
  display: inline-block;
  vertical-align: top;
  font-family: "proxima_nova_semibold";
  color:#fff;
  width: 486px;
  height: 72px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 3px;
}
#balance_time span{
  display: inline-block;
  vertical-align: middle;
}
#balance_time .word_yellow
{
  font-size: 30px;
  font-family: "proxima_nova_semibold";
}
.balance{
  padding-left: 80px;
  margin-right: 4px;
  font-size: 18px;
}
.balance span{
  margin-right: 7px;
}
.time_register{
  padding-left: 30px;
  font-size: 16px;
  font-family: "proxima_nova_semibold";
}
.time_register span img{
  margin-right: 13px;
}
#balance_time .time_register .word_yellow{
  border-right: 1px solid #fff;
  padding-right: 10px;
  margin-right: 5px;
}
.dashboard_register tfoot td{
  border: none;
}
#content_page_10 .text_left{
  padding-left: 111px;
  text-align: left;
}
#content_page_10 .text_left:last-child{
  padding-left: 113px;
}
#content_page_10 .border_container{
  margin-bottom: 180px;
}
#content_page_10{
  padding-bottom: 1px;
}




